<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Numerology Web App for Skillcrush 204</title>
</head>
<body>
	<!--Display dynamic data from erb templates-->
	<%= yield %>
</body>
</html>
